<div data-ng-include="'partials/messages.html'"></div>

<p>Bitte geben Sie Ihren Benutzernamen und Ihr Passwort Ihrer <b>campusID</b>[<a href="http://www.campus-it.fh-koeln.de/informationen/dienste/campusid/" target="_blank">?</a>] ein. Sollten Sie sich zum ersten Mal anmelden, werden Sie anschließend ein Profil anlegen können.</p>

<div class="form-group">
	<label for="username" class="control-label">Benutzername</label>
	<input type="text" id="username"
		   name="username" value=""
		   required="required" autofocus="autofocus"
		   class="form-control"
		   data-ng-model="$parent.$parent.username" />
</div>

<div class="form-group">
	<label for="password" class="control-label">Passwort</label>
	<input type="password" id="password"
		   name="password" value=""
		   required="required"
		   class="form-control"
		   data-ng-model="$parent.$parent.password" />
</div>
