<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand" href="/">LevelPad</a>
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
    <div class="collapse navbar-collapse" id="navigation-collapse">
        <ul class="nav navbar-nav" data-ng-show="loggedIn">
            <li data-ng-repeat="item in items"
				data-ng-class="{ active: $location.path() == item.path }"
				data-toggle="collapse"
				data-target="#navigation-collapse"><a
					data-ng-href="#{{ item.path }}"
					data-ng-bind="item.title"></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li data-ng-show="loggedIn === false"
				data-ng-class="{ active: $location.path() == '/login' }"
				data-toggle="collapse"
				data-target="#navigation-collapse"><a href="/login" data-ng-click="login(); $event.preventDefault();">Login</a></li>
			<li data-ng-show="loggedIn === false"
				data-ng-class="{ active: $location.path() == '/signup' }"
				data-toggle="collapse"
				data-target="#navigation-collapse"><a href="/signup" data-ng-click="signup(); $event.preventDefault();">Register</a></li>
            <li data-ng-show="loggedIn === true"
				data-toggle="collapse"
				data-target="#navigation-collapse"><a href="/logout" data-ng-click="logout(); $event.preventDefault();">Logout</a></li>
        </ul>
    </div>
</nav>
