<p>Sie haben sich zum ersten Mal angemeldet. Um das Profil anzulegen, füllen Sie bitte noch folgendene Felder aus.</p>

<div class="form-group">
	<label class="control-label">Benutzername</label>
	<p class="form-control-static" data-ng-bind="user.username"></p>
	<input type="hidden" id="username"
		   name="username" value=""
		   data-ng-model="user.username" />
</div>
<div class="form-group">
	<label for="studentNumber" class="control-label">Matrikel-Nr.</label>
	<input type="text" id="studentNumber"
		   name="studentNumber" value=""
		   required="required"
		   class="form-control"
		   data-ng-model="user.studentNumber" />
</div>
<div class="form-group">
	<label for="email" class="control-label">E-Mail</label>
	<input type="text" id="email"
		   name="email" value=""
		   required="required" autofocus="autofocus"
		   class="form-control"
		   data-ng-model="user.email" />
</div>
<div class="form-group">
	<label for="firstname" class="control-label">Vorname</label>
	<input type="text" id="firstname"
		   name="firstname" value=""
		   required="required" autofocus="autofocus"
		   class="form-control"
		   data-ng-model="user.firstname" />
</div>
<div class="form-group">
	<label for="lastname" class="control-label">Nachname</label>
	<input type="text" id="lastname"
		   name="lastname" value=""
		   required="required" autofocus="autofocus"
		   class="form-control"
		   data-ng-model="user.lastname" />
</div>
