<div class="row">
    <div class="col-sm-5 col-xs-12">
        <table class="borderless-table">
            <tbody>
                <tr>
                    <th class="table-normal-font">
                        Name:
                    </th>
                    <td class="table-element-padding-left">
						<span class="student-firstname">{{ member.user.firstname }}</span>
						<span class="student-lastname">{{ member.user.lastname }}</span>
                    </td>
                </tr>
                <tr>
                    <th class="table-normal-font">
                        Matrikelnr:
                    </th>
                    <td class="table-element-padding-left">
                        {{ member.user.studentNumber }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-xs-12 col-sm-7 rating-box">
        <div class="col-xs-4 col-sm-4 col-md-6 rating-box-large text-center">
            <div class="large-circle">
				<canvas tc-chartjs-pie chart-options="options" chart-data="data"></canvas>
				<span class="large-circle-text">4,0</span>
			</div>
            <div>absolute Note</div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 rating-box-medium text-center">
            <div class="medium-circle">
				<canvas tc-chartjs-pie chart-options="options" chart-data="data"></canvas>
				<span class="circle-text">2,0</span>
			</div>
            <div>relative Note</div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 rating-box-medium text-center">
            <div class="medium-circle">
				<canvas tc-chartjs-pie chart-options="options" chart-data="member._artefacts"></canvas>
				<span class="circle-text">{{ member.evaluation.length || 0 }}</span>
			</div>
            <div>Artefakte ({{ subject.tasks.length }})</div>
        </div>
    </div>
</div>
<br/>

<table class="table table-striped table-hover" ng-init="predicate='name'; reverse=false;">
	<thead>
        <tr class="table-headline">
            <th class="col-xs-12 col-sm-10 col-md-10">
                <span class="col-sm-6 col-md-6 hidden-xs">Bezeichnung</span>
                <span class="hidden-md hidden-lg hidden-sm">Bezeichnung (Gewichtung)<br/>Niveaustufe</span>
                <div class="col-sm-6 col-md-6 hidden-xs">Niveaustufe</div>
            </th>
            <th class="col-sm-2 col-md-2 hidden-xs text-center">
                Gewichtung
            </th>
            <th class=" col-xs-2 hidden-md hidden-lg hidden-sm">
            </th>
        </tr>

    </thead>
    <tbody>
		<tr data-ng-repeat="task in subject.tasks">
            <th class="col-xs-10 col-sm-10 col-md-10 table-student">
				<a class="level-link" data-ng-href="{{ subject.module.slug }}/{{ subject.slug }}/members/{{member._id}}/{{ task.slug }}">
					<div class="col-sm-6 col-md-6 table-student-align">{{ task.title }}
						<span class="hidden-md hidden-lg hidden-sm gewichtung-font"> ({{ task.weight }}%)</span>
					</div>
					<div class="col-sm-6 col-md-6 table-circle-align">
						<div class="small-circle negative-filled"> </div>
						<div class="small-circle positive-filled"> </div>
						<div class="small-circle positive-filled"> </div>
						<div class="small-circle positive-empty"> </div>
						<br/>
						akzeptable Lösung
					</div>
				</a>
            </th>
            <td class="col-sm-2 col-md-2 hidden-xs circle-table text-center">
                <div class="medium-circle text-center">
					<canvas tc-chartjs-pie chart-options="options" chart-data="task._taskWeight"></canvas>
					<span class="circle-text">{{ task.weight }}%</span>
				</div>
            </td>
            <td class="col-xs-2 hidden-md hidden-lg hidden-sm text-right arrow-right"> ⟩ </td>
        </tr>
	</tbody>
</table>
