<div data-ng-include="'partials/member-detail-header.html'"></div>
<br/>

<table class="table table-striped table-hover" ng-init="predicate='name'; reverse=false;">
	<thead>
        <tr class="table-headline">
            <th class="col-xs-12 col-sm-10 col-md-10">
                <span class="col-sm-6 col-md-6 hidden-xs">Bezeichnung</span>
                <span class="hidden-md hidden-lg hidden-sm">Bezeichnung (Gewichtung)<br/>Niveaustufe</span>
                <div class="col-sm-6 col-md-6 hidden-xs">Niveaustufe</div>
            </th>
            <th class="col-sm-2 col-md-2 hidden-xs text-center">
                Gewichtung
            </th>
            <th class=" col-xs-2 hidden-md hidden-lg hidden-sm">
            </th>
        </tr>

    </thead>
    <tbody>
		<tr data-ng-repeat="task in subject.tasks">
            <th class="col-xs-10 col-sm-10 col-md-10 table-student">
				<a class="level-link" data-ng-href="/{{module.slug}}/{{subject.slug}}/members/{{member._id}}/{{task._id}}" >
					<div class="col-sm-6 col-md-6 table-student-align">{{ task.title }}
						<span class="hidden-md hidden-lg hidden-sm gewichtung-font"> ({{ task.weight }}%)</span>
					</div>
					<div class="col-sm-6 col-md-6 table-circle-align" >
						<div class="small-circle" data-ng-repeat="level in task.levels | orderBy:'rank':true" data-ng-class="{ 'positive' : level.isMinimum, 'negative' : !level.isMinimum , 'filled' : task.level.rank<=level.rank} " > </div>
						<br/>
						{{task.level.title || 'noch nicht bewertet'}}
					</div>
				</a>
            </th>
            <td class="col-sm-2 col-md-2 hidden-xs circle-table text-center">
                <div class="medium-circle text-center">
					<canvas tc-chartjs-pie chart-options="options" chart-data="task._taskWeight"></canvas>
					<span class="circle-text">{{ task.weight }}%</span>
				</div>
            </td>
            <td class="col-xs-2 hidden-md hidden-lg hidden-sm text-right arrow-right"> ⟩ </td>
        </tr>
	</tbody>
</table>
