
<form name="form" role="form" class="form-horizontal" data-ng-submit="delete();">
	<header class="modal-header">
		<button type="button" class="close" aria-hidden="true"
				data-ng-show="cancel" data-ng-click="cancel();">&times;</button>
		<h4 id="delete-title" class="delete-title">Benutzer-Account wirklich löschen?</h4>
	</header>
	<div class="modal-body">
		<p>
			Möchten Sie den Benutzer {{ user.firstname }} {{ user.lastname }} wirklich löschen?
		</p>
		<p>
			Bitte geben Sie zur Sicherheit das Modulkürzel ein: <code>{{ module.shortName }}</code>
		</p>
		<p>
			<input type="text" data-ng-model="validationInput">
		</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default pull-left"
				data-ng-click="showDeleteDialog();">Abbrechen</button>
		<button type="submit" class="btn btn-danger pull-right"
				data-ng-disabled="validationInput !== 'yolo'">Unwiderruflich Löschen</button>
	</div>
</form>
