
<form name="form" role="form" class="form-horizontal" data-ng-submit="submit();">
	<header class="modal-header">
		<button type="button" class="close" aria-hidden="true"
				data-ng-show="cancel" data-ng-click="cancel();">&times;</button>
		<h4 id="edit-title" class="modal-title">{{ !user._id ? 'Neuen Benutzer anlegen' : 'Benutzer bearbeiten' }}</h4>
	</header>
	<div class="modal-body">

	<div class="form-group">
		<label for="username" class="control-label">Campus-ID:</label>
		<input type="text" id="username"
			   name="username" value=""
			   required="required"
			   disabled="disabled"
			   class="form-control"
			   data-ng-model="user.username" />
	</div>
	<div class="form-group" data-ng-class="{ 'has-error': form.studentNumber.$invalid && form.studentNumber.$dirty }">
		<label for="studentNumber" class="control-label">Matrikel-Nr.:</label>
		<input type="text" id="studentNumber"
			   name="studentNumber" value=""
			   ng-pattern="/^[0-9]{8}$/"
			   required="required"
			   class="form-control"
			   data-ng-model="user.studentNumber" />
	</div>
	<div class="form-group" data-ng-class="{ 'has-error': form.email.$invalid && form.email.$dirty }">
		<label for="email" class="control-label">E-Mail:</label>
		<input type="email" id="email"
			   name="email" value=""
			   required="required"
			   class="form-control"
			   data-ng-model="user.email" />
	</div>
	<div class="form-group" data-ng-class="{ 'has-error': form.firstname.$invalid && form.firstname.$dirty }">
		<label for="firstname" class="control-label">Vorname:</label>
		<input type="text" id="firstname"
			   name="firstname" value=""
			   data-ng-minlength="2"
			   required="required"
			   class="form-control"
			   data-ng-model="user.firstname" />
	</div>
	<div class="form-group" data-ng-class="{ 'has-error': form.lastname.$invalid && form.lastname.$dirty }">
		<label for="lastname" class="control-label">Nachname:</label>
		<input type="text" id="lastname"
			   name="lastname" value=""
			   data-ng-minlength="2"
			   required="required"
			   class="form-control"
			   data-ng-model="user.lastname" />
	</div>
	<div class="form-group" data-ng-class="{ 'has-error': form.role.$invalid && form.role.$dirty }">
		<label for="role" class="control-label">Rolle:</label>
		<select id="role" name="role"
			data-ng-model="user.role"
			data-ng-options="role.role as role.name for role in roles"
			class="form-control"></select>
	</div>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default pull-left"
				data-ng-show="cancel" data-ng-click="cancel();">Abbrechen</button>
		<button type="button" class="btn btn-default pull-left"
				data-ng-show="user._id" data-ng-click="showDeleteDialog(); $event.preventDefault();">Löschen</button>
		<button type="submit" class="btn btn-primary pull-right"
				data-ng-disabled="form.$invalid" >Speichern</button>
	</div>
</form>
