<!--
	Navbar für große Devices
-->
<ul class="nav nav-tabs hidden-xs " data-ng-init="filterStatus = location.search()['status'] || 'active'">
	<li data-active-nav><a data-ng-click="filterStatus='active';" href="/">Deine aktiven Veranstaltungen</a></li>
	<li data-active-nav><a data-ng-click="filterStatus='inactive';" href="/?status=inactive">Deine inaktiven Veranstaltungen</a></li>
	<li><a href="/subjects">Alle Veranstaltungen anzeigen</a></li>
</ul>

<!--
	Searchbar für große Devices
-->

<div class="container hidden-xs">
	<div class="row interaction-bar" >
		<div class="col-md-5 col-sm-6 search-bar">
			<div class="input-group">
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-search"></span>
				</div>
				<input type="text" placeholder="Veranstaltung, Jahr, ..." data-ng-model="searchText" autocomplete="off" class="form-control search-input" />
			</div>
		</div>
	</div>
</div>

<!--
	Navbar, Searchbtn, newBtn für kleine Devices
-->

<div class="container hidden-md hidden-lg hidden-sm nav-dropdown ">
	<div class="row" >
		<div class="dropdown col-xs-8 dropdown-box">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Aktive Veranstaltungen <span class="caret btn-dropdown"></span></a>
			<ul class="dropdown-menu" role="menu"> <!-- TODO: Change the Dropdown Text-->
				<li class="" data-ng-class="{ 'active': filterStatus=='active' }">
					<a data-ng-click="filterStatus='active'">Aktive Veranstaltungen</a>
				</li>
				<li class=""  data-ng-class="{ 'active': filterStatus=='inactive' }">
					<a data-ng-click="filterStatus='inactive'">Inaktive Veranstaltungen</a>
				</li>
			</ul>
		</div>
		<div class="col-xs-2 col-xs-offset-2">
			<a class=" btn btn-glyphicon navbar-btn interaction-link" data-ng-href="/subjects/new" data-ng-click="showCreateDialog(); $event.preventDefault();">
			  <span class="glyphicon glyphicon-plus"></span>
			</a>
		</div>
	</div>
</div>

<div class="col-xs-12 hidden-md hidden-lg hidden-sm search-bar">
	<div class="input-group">
		<div class="input-group-addon">
			<span class="glyphicon glyphicon-search"></span>
		</div>
		<input type="text" placeholder="Veranstaltung, Jahr, ..." data-ng-model="searchText" autocomplete="off" class="form-control search-input" />
	</div>
</div>

<table class="table table-striped table-hover">
	<tbody>
	<tr data-ng-repeat="subject in subjects | orderBy:['-subject.year','-subject.semester'] | filter:filterStatus:true | filter:searchText">
		<th class="col-xs-10 col-md-10 subject-item-title">
			<a ng-if="subject.role==='creator'||subject.role==='assistant'" data-ng-href="{{ subject.subject.module.slug }}/{{ subject.subject.slug }}/members" style="display: inline;"><span class="module-name">{{ subject.subject.module.name }}</span><br/></a>
			<a ng-if="subject.role==='member'" data-ng-href="{{ subject.subject.module.slug }}/{{ subject.subject.slug }}/tasks" style="display: inline;"><span class="module-name">{{ subject.subject.module.name }}</span><br/></a>
			<span class="module-time">{{ subject.subject.semester }} {{ subject.subject.year }}</span>
		</th>
		<td class="col-md-2 hidden-xs text-right">{{ subject.subject.members.length || 0 }} Teilnehmer</td>
		<td class="col-xs-2 hidden-md hidden-lg hidden-sm text-right arrow-right"> ⟩ </td>
	</tr>
	</tbody>
</table>
