
<form name="form" role="form" class="form-horizontal" data-ng-submit="submit();">
	<header class="modal-header">
		<button type="button" class="close" aria-hidden="true"
				data-ng-show="cancel" data-ng-click="cancel();">&times;</button>
		<h4 id="edit-title" class="modal-title">{{ !module._id ? 'Neues Veranstaltungmodul anlegen' : 'Veranstaltungsmodul ändern' }}</h4>
	</header>
	<div class="modal-body">

		<div class="form-group" data-ng-class="{ 'has-error': form.shortName.$invalid && form.shortName.$dirty }">
			<label for="shortName" class="col-sm-4 control-label">Kürzel</label>
			<div class="col-sm-8">
				<input id="shortName" name="shortName" type="text"
					   data-ng-model="module.shortName"
					   maxlength="8"
					   required="required"
					   class="form-control"/>
			</div>
		</div>

		<div class="form-group" data-ng-class="{ 'has-error': form.name.$invalid && form.name.$dirty }">
			<label for="name" class="col-sm-4 control-label">Name</label>
			<div class="col-sm-8">
				<input id="name" name="name" type="text"
					   data-ng-model="module.name"
					   required="required"
					   class="form-control"/>
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<button
			type="button" class="btn btn-default pull-left"
			data-ng-show="cancel" data-ng-click="cancel();">
			<span class="interaction-color">Abbrechen</span>
		</button>
		<button
			type="button" class="btn btn-default pull-left"
			data-ng-show="module._id" data-ng-click="showConfirmDeleteDialog();">
			<span class="delete-color">Löschen</span>
		</button>
		<button
			type="submit" class="btn btn-primary pull-right"
			data-ng-disabled="form.$invalid">
			{{ module._id ? 'Änderungen speichern' : 'Modul anlegen' }}
		</button>
	</div>
</form>
