<div data-ng-include="'views/subjects/edit.html'"></div>
<div data-ng-include="'views/subjects/delete.html'"></div>

<ul class="nav nav-tabs " data-ng-init="filterStatus='sose'"> <!--Filterstatus muss geaendert werden fuer Aktiv und inaktive-->
	<li class="col-md-2,5" data-ng-class="{ 'active': filterStatus=='sose' }"><a data-ng-click="filterStatus='sose'  ">Aktive Veranstaltungen</a></li>
	<li class="col-md-2,5"  data-ng-class="{ 'active': filterStatus=='wise' }"><a data-ng-click="filterStatus='wise' ">Deaktive Veranstaltungen</a></li>
</ul>

<div class="col-md-12" style="padding: 20px 0; border-left: 1px solid lightgrey;">
	<div class="col-md-5">
		<input type="text" placeholder="Veranstaltung, Jahr, ..." data-ng-model="searchText" autocomplete="off" autofocus="autofocus" class="form-control" />
	</div>
	<div class="col-md-7" style="padding: 5px 0">
		<a data-ng-click="showCreateDialog();" style="color: #77aabb ">+ neue Veranstaltung anlegen</a>
	</div>
</div>

<!--
<div class="row">
<div class="col-md-4">
<select class="form-control">
	<option>Shortname</option>
	<option>Name</option>
	<option>Semester</option>
	<option>Year</option>
</select>
</div>
</div>


<table class="table table-striped table-hover">
	<tr data-ng-repeat="subject in subjects | filter:filterStatus | filter:searchText">
		<td data-ng-click="go(  '/' + module.slug + '/' + subject.slug )">
			<h4><a data-ng-href="{{ '/' + module.slug + '/' + subject.slug }}">{{ subject.semester }} {{ subject.year }}</a></h4>
			<span>44 Students</span>
			<span class="label label-success" data-ng-show="subject.year == 2014">active</span>
			<span class="label label-warning" data-ng-hide="subject.year == 2014">inactive</span>
		</td>
	</tr>
</table>
-->
<table class="table table-striped" ng-init="predicate='name'; reverse=false;">
	<tbody>
	<tr data-ng-repeat="subject in subjects | filter:searchText">
		<td data-ng-bind="subject.module.shortName" />
		<td data-ng-bind="subject.module.name" />
		<td data-ng-bind="subject.semester" />
		<td data-ng-bind="subject.year" />
		<td class="text-right">
			<input data-ng-click="showEditDialog(subject)" type="button" value="Edit" class="btn btn-default" />
			<input data-ng-click="showDeleteDialog(subject)" type="button" value="Delete" class="btn btn-default" />
		</td>
	</tr>
    <tr>
        <td class="col-md-10" style="padding: 10px 0 10px 20px;"> Webbasierte Anwendungen 2: Verteilte Anwendungen </br>Sommersemester 2014 <td/>
        <td class="col-md-2  text-right"> 50 Teilnehmer <td/>
    </tr>
	</tbody>
</table>
