<ul class="nav nav-tabs">
	<li><a data-ng-href="/{{ module.slug }}/{{ subject.slug }}/tasks">Tasks</a></li>
	<li class="active"><a data-ng-href="/{{ module.slug }}/{{ subject.slug }}/teams">Teams</a></li>
	<li><a data-ng-href="/{{ module.slug }}/{{ subject.slug }}/students">Students</a></li>
	<li><a data-ng-href="/{{ module.slug }}/{{ subject.slug }}/settings">Settings</a></li>
	<li class="navbar-right">
		<div>
			<a class="" href="#">Create new Task</a>
			<a class="btn btn-mini btn-success" href="#">Create new Task</a>
		</div>
	</li>
</ul>

todo
