<div class="container show-subject-head">
	<div class="subject-title">
		Learning Outcome
	</div>
	<div class="subject-semester">{{task.title}}
		<a class=" btn btn-glyphicon interaction-link" data-ng-href="/{{module}}/{{subject}}/tasks/{{task.slug}}/edit" data-ng-click="showEditDialog(); $event.preventDefault();">
			<span class="glyphicon glyphicon-pencil interaction-color"></span>
		</a>
	</div>
	<div>
		<div class="col-sm-10 description-head">
			{{task.description}}
		</div>
		<div class="col-sm-2 text-center" >
			<div class="subject-title ">Gewichtung</div>
			<div class="medium-circle">
				<span class="circle-text">{{task.weight}}%</span>
				<canvas tc-chartjs-pie chart-options="options" chart-data="task._currentTaskData"></canvas>
			</div>
		</div>
	</div>
</div>

<div data-ng-controller="LevelListController" data-ng-include="'views/levels/list.html'"></div>
