<div id="signupDialog" role="dialog" aria-labelledby="signupTitle" aria-hidden="true" class="modal fade">
	<form role="form" data-ng-submit="signup($event)">
		<div class="modal-dialog">
			<div class="modal-content">
				<header class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 id="signupTitle" class="modal-title">Profil anlegen</h4>
				</header>
				<div data-ng-include="'partials/signup.html'" class="modal-body"></div>
				<footer class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
					<button type="submit" class="btn btn-primary" data-loading-text="Profil anlegen...">Profil anlegen</button>
				</footer>
			</div>
		</div>
	</form>
</div>
