<div class="row">
    <div class="col-sm-5 col-xs-12">
        <table class="borderless-table">
            <tbody>
                <tr>
                    <th class="table-normal-font">
                        Name:
                    </th>
                    <td class="table-element-padding-left">
                        Peter <span class="student-lastname">Wackel</span> 
                        <a class=" btn interaction-link hidden-xs" data-ng-href="/subjects/new" data-ng-click="showCreateDialog(); $event.preventDefault();">
                <span class="glyphicon glyphicon-pencil interaction-color"></span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th class="table-normal-font">
                        Matrikelnr:
                    </th>
                    <td class="table-element-padding-left">
                        110 840 54
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="col-xs-12 col-sm-7 rating-box">
        <div class="col-xs-4 col-sm-4 col-md-5 rating-box-large">
            <div class="large-circle">5</div>
            <span class="rating-box-text">absolute Note</span>
        </div>
        <div class="col-xs-4 col-sm-4 rating-box-medium">
            <div class="medium-circle">3,3</div>
            <span class="rating-box-text">relative Note</span>
        </div>
        <div class="col-xs-4 col-sm-3 rating-box-medium">
            <div class="medium-circle">4</div>
            <span class="rating-box-text">Artefakte (5)</span>
        </div>
    </div>
</div>


<table class="table table-striped table-hover" ng-init="predicate='name'; reverse=false;">
	<thead>
        <tr class="table-headline">
            <th class="col-xs-12 col-sm-10 col-md-10">
                <span class="col-sm-6 col-md-6 hidden-xs">Bezeichnung</span>
                <span class="hidden-md hidden-lg hidden-sm">Bezeichnung (Gewichtung)<br/>Niveaustufe</span>
                <div class="col-sm-6 col-md-6 hidden-xs">Niveaustufe</div>
            </th>
            <th class="col-sm-2 col-md-2 hidden-xs">
                Gewichtung
            </th>
            <th class=" col-xs-2 hidden-md hidden-lg hidden-sm">
            </th>
        </tr>
        
    </thead>
    <tbody>
        <tr>
            <th class="col-xs-10 col-sm-10 col-md-10 table-student">
                <div class="col-sm-6 col-md-6 table-student-align">Angebot und Anschreiben erstellen
                    <span class="hidden-md hidden-lg hidden-sm gewichtung-font"> (30%)</span>
                </div>
                <div class="col-sm-6 col-md-6 table-circle-align">
                    <div class="small-circle"> </div>
                    <div class="small-circle"> </div>
                    <div class="small-circle"> </div>
                    <div class="small-circle"> </div> 
                    <br/>
                    akzeptable Lösung
            
                </div>
            </th>
            <td class="col-sm-2 col-md-2 hidden-xs circle-table"> 
                <div class="medium-circle circle-center-table">30%</div>
            </td>
            <td class="col-xs-2 hidden-md hidden-lg hidden-sm text-right arrow-right"> ⟩ </td>
        </tr>
        <tr>
            <th class="col-xs-10 col-sm-10 col-md-10 table-student">
                <div class="col-sm-6 col-md-6 table-student-align">Styleguide
                    <span class="hidden-md hidden-lg hidden-sm gewichtung-font"> (70%)</span>
                </div>
                <div class="col-sm-6 col-md-6 table-circle-align">
                    <div class="small-circle"> </div>
                    <div class="small-circle"> </div>
                    <div class="small-circle"> </div>
                    <div class="small-circle"> </div> 
                    <div class="small-circle"> </div>
                    <div class="small-circle"> </div>
                    <div class="small-circle"> </div>
                    <br/>
                    gute Lösung
            
                </div>
            </th>
            <td class="col-sm-2 col-md-2 hidden-xs circle-table"> 
                <div class="medium-circle circle-center-table">70%</div>
            </td>
            <td class="col-xs-2 hidden-md hidden-lg hidden-sm text-right arrow-right"> ⟩ </td>
        </tr>
	</tbody>
</table>
