<form name="form" role="form" class="form-horizontal" data-ng-submit="delete();">
	<header class="modal-header">
		<button type="button" class="close" aria-hidden="true"
				data-ng-show="cancel" data-ng-click="cancel();">&times;</button>
		<h4 id="delete-title" class="delete-title">Modul wirklich löschen?</h4>
	</header>
	<div class="modal-body">
		<p>
			Möchten Sie die Veranstaltung ({{ subject.module.shortName }}) {{ subject.module.name }}
			{{ subject.semester }} {{ subject.year }} wirklich löschen?
		</p>
		<p>
			Bitte geben Sie zur Sicherheit das Jahr ein: <code>{{ subject.year }}</code>
		</p>
		<p>
			<input type="text" data-ng-model="validationInput">
		</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default pull-left"
				data-ng-show="cancel" data-ng-click="cancel();">Abbrechen</button>
		<button type="submit" class="btn btn-danger pull-right"
				data-ng-disabled="validationInput !== subject.year">Unwiderruflich Löschen</button>
	</div>
</form>
