
<form name="form" role="form" class="form-horizontal" data-ng-submit="submit();">
	<nav>
		<header class="modal-header">
			<h4 id="edit-title" class="modal-title">{{ !subject._id ? 'Neue Veranstaltung ' : 'Veranstaltung ändern' }}</h4>
		</header>
	</nav>

	<div class="modal-body">

		<div class="form-group col-sm-12 col-md-12" data-ng-show="subject._id">
			<div class="col-sm-2 col-md-2">Modul</div>
			<div class="col-sm-10 col-md-10">{{ subject.module.name }}</div>
		</div>

		<div class="form-group" data-ng-hide="subject._id" data-ng-class="{ 'has-error': form.module.$invalid }">
			<label for="module" class="col-sm-2 col-md-2 control-label">Modul</label>
			<div class="col-sm-10 col-md-10">
				<select
					id="module" name="module"
					data-ng-model="subject.module"
					data-ng-options="m.name for m in modules track by m.slug"
					required="required"
					class="form-control">
				</select>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-8 col-md-8" data-ng-class="{ 'has-error': form.semester.$invalid }">
				<div class="form-group">
					<label for="semester" class="col-md-3 col-sm-3 control-label">Semester</label>
					<div class="col-sm-9 col-md-9">
						<select
							id="semester" name="semester"
							data-ng-model="subject.semester"
							data-ng-options="s.name for s in semesters track by s.slug"
							required="required"
							class="form-control">
						</select>
					</div>
				</div>
			</div>

			<div class="col-sm-4 col-md-4" data-ng-class="{ 'has-error': form.year.$invalid }">
				<div class="form-group">
					<label for="year" class="control-label col-sm-3 col-md-3">Jahr</label>
					<div class="col-sm-9 col-md-9">
						<select
							id="year" name="year"
							data-ng-model="subject.year"
							data-ng-options="y.name for y in years track by y.year"
							required="required"
							class="form-control">
						</select>
					</div>
				</div>
			</div>
		</div>

		<fieldset class="radio-box">
			<legend class="radio-box">Anmeldung zur Veranstaltung</legend>
			<div class="form-group radio-items">
				<div class="col-md-12">
					<label class="control-label">
						<input type="radio" name="veranstaltungAnmelde" id="nichtAktiv" value="option1" checked> nicht aktiv
					</label>
				</div>
				<div class="col-md-12">
					<label class="control-label">
						<input type="radio" name="veranstaltungAnmelde" id="aktiv" value="option2"> aktiv
					</label>
				</div>
				<div class="col-md-12 col-sm-12">
					<label class="control-label">
						<input type="radio" name="veranstaltungAnmelde" id="aktivBis" value="option3"> aktiv bis
					</label>
					<select id="day" name="day" type="day"
						data-ng-model="xxx"
						data-ng-options=""
						required="required"
						class="form-control subject-activeTill "></select>
				</div>
			</div>
		</fieldset>
		<br/>
		<fieldset class="radio-box">
			<legend class="radio-box">Anmeldeschlüssel</legend>
			<div class="form-group radio-items">
				<div class="col-md-12">
					<label class="control-label">
						<input type="radio" name="anmeldeSchluessel" id="nichtAktiv" value="option1" checked> nicht aktiv
					</label>
				</div>
				<div class="col-md-12">
					<label class="control-label">
						<input type="radio" name="anmeldeSchluessel" id="aktiv" value="option2"> aktiv
					</label>
					<div class="subject-password-generator">
						<span class="glyphicon glyphicon-lock"></span> St4rTK7
						<button type="button" class="btn btn-default ">
							<span class="glyphicon glyphicon-refresh"></span>
						</button>
					</div>
				</div>
			</div>
		</fieldset>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default pull-left"
				data-ng-show="cancel" data-ng-click="cancel();">
			<div class="interaction-color">Abbrechen</div>
		</button>
		<button type="button" class="btn btn-default pull-left"
				data-ng-show="subject._id" data-ng-click="showDeleteDialog();">
			<div class="delete-color">Veranstaltung löschen</div>
		</button>
		<button type="submit" class="btn btn-primary pull-right"
				data-ng-disabled="form.$invalid" >Veranstaltung anlegen</button>
	</div>
</form>
