/**
 * NAVIGATION
 */
nav {
	margin-top: 8px;
	margin-bottom: 20px;
	border-bottom: 4px solid #77cc00;
}
nav a {
	color: #dd1166;
}
nav a:hover, nav a:focus {
	color: #ae0d50;
	text-decoration: none;
}

nav h1 {
	float: left;
	margin: 0;
	padding: 0;
	font-size: 20pt;
	line-height: 40px;
    font-weight: 600;
}

@media (max-width: 767px) {
	nav h1 {
		width: 30px;
		overflow: hidden;
		height: 40px;
	}
	nav h1:before {
		content: '\e079';
		margin-left: 10px;
		margin-right: 10px;
		position: relative;
		top: 1px;
		display: inline-block;
		font-family: 'Glyphicons Halflings';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

nav > ul {
	display: inline-block;
	margin: 0;
	padding: 0;
}
nav > ul > li {
	display: inline-block;
	float: left;
	margin-left: 20px;
	font-size: 14pt;
	line-height: 40px;
}
/*@media (min-width: 768px) {
	nav > ul.navi > li:before {
		content: '\e080';
		color: #bbbbbb;
		margin-left: 5px;
		margin-right: 15px;
		position: relative;
		top: 1px;
		display: inline-block;
		font-family: 'Glyphicons Halflings';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}*/
nav > ul > li.active a, nav > ul > li a:active {
	color: #77aabb;
    font-weight: 600;
}

/**
 * TASK NAVIGATION
 */

.levels {
	list-style: none;
	margin: 0;
	padding: 0;
	clear: both;
    
}
.levels > li {
	position: relative;
	float: left;
	line-height: 40px;
	background-color: white;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}
.levels > li:first-child {
	border-left: 1px solid gray;
}

.levels > li:before {
	content: " ";
	position: absolute;
	top: -1px;
	right: -10px;
	width: 10px;
	height: 42px;
	z-index: 1;
	border-top: 21px solid transparent;
	border-left: 10px solid gray;
	border-bottom: 21px solid transparent;
}
.levels > li:after {
	content: " ";
	position: absolute;
	top: 0;
	right: -10px;
	width: 10px;
	height: 40px;
	z-index: 2;
	border-top: 20px solid transparent;
	border-left: 9px solid white;
	border-bottom: 20px solid transparent;
}

.levels > li > a {
	display: inline-block;
	color: black;
	line-height: 40px;
	padding: 0 10px;
}
.levels > li:not(:first-child) > a {
	padding-left: 20px;
}
.levels > li > a:hover {
	text-decoration: none;
}

a.levels.add {
	padding-left: 20px;
	line-height: 40px;
}

.levels .task {
	background-color: #c5eec0;
}
.levels .task:after {
	border-left-color: #c5eec0;
}
.levels .active .task:hover, .levels .task:hover {
	background-color: #98eea9;
}
.levels .active .task:hover:after, .levels .task:hover:after {
	border-left-color: #98eea9;
}

.levels .level {
	background-color: #edeec5;
}
.levels .level:after {
	border-left-color: #edeec5;
}
.levels .active .level:hover, .levels .level:hover {
	background-color: #e7eeaa;
}
.levels .active .level:hover:after, .levels .level:hover:after {
	border-left-color: #e7eeaa;
}

table {
    border-top: 1px solid lightgray; 
    border-left : 1px solid lightgray; 
    border-bottom: 1px solid lightgray;" 
}

/**
 * OVERWRITE BOOTSTRAP BEHAVIOUR
 */

.table-hover {
    cursor: pointer;
}

.interaction-bar {
    padding: 20px 0; 
    border-left: 1px solid lightgrey;   
}

.interaction-link{
    color: #77aabb;
}

.module-time {
    font-weight: normal;
    color: grey;
}

.module-name {
    font-weight: normal;   
}

.nav > li > a {
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
    cursor: default;
    color: black;
    margin-right: -1px;
}



.form-control::-moz-placeholder {
    color: #c0c0c0;
}
.form-control:-ms-input-placeholder {
    color: #c0c0c0;
}
.form-control::-webkit-input-placeholder {
    color: #c0c0c0;
}

.nav-tabs > li.active > a{
    font-weight: 600;   
}

.input-group{
    padding-right: 0px;
    margin-right: -1px;
}

.input-group-addon{
    background-color: #dddddd;
    padding: 0px 10px 0px 10px;
}

.search-input{
    border-left-width: 0px;
    border-left-color: transparent;
}

.interaction-tools {
    padding-top: 8px;
}

.search-bar {
    padding-right: 6px;
}

.arrow-right {
    font-family: "Helvetica Neue";
    font-size: 40px;
    color: #6399AE;
    
}

.nav-tabs,
.nav-pills {
  position: relative;
}

@media (max-width: 768px) {


}