/**
 * NAVIGATION
 */
nav {
	margin-top: 8px;
	margin-bottom: 20px;
	border-bottom: 4px solid #77cc00;
}
nav a {
	color: #dd1166;
}
nav a:hover, nav a:focus {
	color: #ae0d50;
	text-decoration: none;
}

nav h1 {
	float: left;
	margin: 0;
	padding: 0 15px 0 0;
	font-size: 20pt;
	line-height: 40px;
    font-weight: 600;
}

nav > ul {
	display: inline-block;
	margin: 0;
	padding: 0;
}
nav > ul > li {
	display: inline-block;
	float: left;
	margin-left: 20px;
	font-size: 14pt;
	line-height: 40px;
}
/*@media (min-width: 768px) {
	nav > ul.navi > li:before {
		content: '\e080';
		color: #bbbbbb;
		margin-left: 5px;
		margin-right: 15px;
		position: relative;
		top: 1px;
		display: inline-block;
		font-family: 'Glyphicons Halflings';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}*/
nav > ul > li.active a {
	color: #77aabb;
    font-weight: 600;
}

/**
 * TASK NAVIGATION
 */

.levels {
	list-style: none;
	margin: 0;
	padding: 0;
	clear: both;

}
.levels > li {
	position: relative;
	float: left;
	line-height: 40px;
	background-color: white;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}
.levels > li:first-child {
	border-left: 1px solid gray;
}

.levels > li:before {
	content: " ";
	position: absolute;
	top: -1px;
	right: -10px;
	width: 10px;
	height: 42px;
	z-index: 1;
	border-top: 21px solid transparent;
	border-left: 10px solid gray;
	border-bottom: 21px solid transparent;
}
.levels > li:after {
	content: " ";
	position: absolute;
	top: 0;
	right: -10px;
	width: 10px;
	height: 40px;
	z-index: 2;
	border-top: 20px solid transparent;
	border-left: 9px solid white;
	border-bottom: 20px solid transparent;
}

.levels > li > a {
	display: inline-block;
	color: black;
	line-height: 40px;
	padding: 0 10px;
}
.levels > li:not(:first-child) > a {
	padding-left: 20px;
}
.levels > li > a:hover {
	text-decoration: none;
}

a.levels.add {
	padding-left: 20px;
	line-height: 40px;
}

a:hover{
	color: #77aabb;
	text-decoration: none;
}

.levels .task {
	background-color: #c5eec0;
}
.levels .task:after {
	border-left-color: #c5eec0;
}
.levels .active .task:hover, .levels .task:hover {
	background-color: #98eea9;
}
.levels .active .task:hover:after, .levels .task:hover:after {
	border-left-color: #98eea9;
}

.levels .level {
	background-color: #edeec5;
}
.levels .level:after {
	border-left-color: #edeec5;
}
.levels .active .level:hover, .levels .level:hover {
	background-color: #e7eeaa;
}
.levels .active .level:hover:after, .levels .level:hover:after {
	border-left-color: #e7eeaa;
}

table {
    border-top: 1px solid lightgray;
    border-left : 1px solid lightgray;
    border-bottom: 1px solid lightgray;"
}

/**
 * OVERWRITE BOOTSTRAP BEHAVIOUR
 */

.table-hover {
    cursor: pointer;
}

.interaction-bar {
    border-left: 1px solid lightgrey;
}

.interaction-link{
	color: #77aabb;
    padding: 21px 0px;
    vertical-align: middle;
}

.interaction-link > a {
	color: #77aabb;
}

.module-time {
    font-weight: normal;
    color: grey;
}

.module-name {
    font-weight: normal;
}

.nav > li > a {
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
    cursor: default;
    color: black;
    margin-right: -1px;
}

.interaction-color {
    color: #6399AE;
}

.delete-color{
    color: #D40051;
}

.btn-glyphicon {
    padding: 10px 14px;
    margin: 0;
    border: none;
    background: none;
}

.dropdown-box{
    border: 1px solid lightgrey;
    border-bottom: none;
    padding: 10px 15px;
}

.dropdown-text{
    text-decoration: none;
}

.description-head{
	padding-left: 0;
}

.table > tbody > tr > th.subject-item-title{
    padding: 10px 0 10px 15px;
}

.table a {
    display: inline-block;
    text-decoration: none;
}

.form-control::-moz-placeholder {
    color: #c0c0c0;
}
.form-control:-ms-input-placeholder {
    color: #c0c0c0;
}
.form-control::-webkit-input-placeholder {
    color: #c0c0c0;
}

.vertical-control{
	resize: vertical;
}

.nav-tabs > li.active > a{
    font-weight: 600;
}

.input-group{
    padding-right: 0px;
    margin-right: -1px;
}

.input-group-addon{
    background-color: #dddddd;
    padding: 0px 10px 0px 10px;
}

.search-input{
    border-left-width: 0px;
    border-left-color: transparent;
}

.interaction-tools {
    vertical-align: center;
}

    .search-bar {
	    padding: 15px;
    }
	
	.is-search-bar-mobile {
		padding: 15px 0;
	}



.subtitle{
    font-size: 14pt;
    float: left;
    margin: 0;
	line-height: 40px;
}

.menu-bar{
    float: right;
}

.arrow-right {
    font-family: "Helvetica Neue";
    font-size: 24px;
    color: #6399AE;
    vertical-align: middle !important;
}


.arrow-right-small {
    font-family: "Helvetica Neue";
    font-size: 30px;
    color: #6399AE;
}

.nav-tabs,
.nav-pills {
  position: relative;
}

.control-label{
    text-align: right;
    color: black;
    font-weight: normal;
    padding-right: 0;
}

fieldset.radio-box {
    border: 1px groove #ddd;
    padding: 0 ;
    margin: 0 ;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.radio-box {
    font-size: 12pt;
    width:inherit; /* Or auto */
    padding:0 5px; /* To give a bit of padding on the left and right */
    margin-bottom: 0;
    border-bottom:none;
}

fieldset > .radio-items{
    padding: 10px 20px;
}

.subject-activeTill{
    display: inline-block;
    margin-left: 20px;
    width: 60%;
    float: right;
}

.subject-password-generator{
    margin-left: 20px;
    display: inline-block;
}

.subject-title{
    font-weight: 600;
    font-size: 12pt;
}

.show-subject-head{
    padding: 20px 0;
}

.positive-task{
	background: #E0F4C6;
}

.negative-task{
	background: #F3C7DD;
}

.task-box{
	padding: 3px 10px 20px 3px;
	margin: 0px -5px 0px -25px;
}

.task-color{
	color: #72CE1F;
}

.task-bad-color{
	color: #EE497A;
}

.task-text{
	background: white;
	margin-right: -42px;
	margin-left: -8px;
	padding-left: 8px;
	margin-bottom: -8px;
	z-index: 1;
	position: relative;
}

.bubble {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 5px;
	background: #DDD;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: #878787 solid 1px;
}

.bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 14px 10px 0;
	border-color: #DDD transparent;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -14px;
	left: 15px;
}

.bubble:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 14px 10px 0;
	border-color: #878787 transparent;
	display: block;
	width: 0;
	z-index: 0;
	bottom: -15px;
	left: 15px;
}

.comment-textarea{
	width: 102%;
	width: calc(100% + 8px);
	border-radius: 5px;
	border-color: transparent;
	margin: -9px 0px 0 -4px;
	resize: vertical;
}

.comment-text{
	margin: -1px;
	padding: 5px 0 0 0;
}

.table-comment-interaction{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 5px;
	padding-left: 6px;
	color: #77aabb;
}

.table-tools{
	border: none;
	width: 100%;
}

.comment-tools{
	background: #DDD;
}

.comment-tool-column{
	width: 50%;
}

.bubble-comment {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 5px;
	background: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: #878787 solid 1px;
}

.bubble-comment:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 14px 10px 0;
	border-color: #FFF transparent;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -14px;
	left: 15px;
}

.bubble-comment:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 14px 10px 0;
	border-color: #878787 transparent;
	display: block;
	width: 0;
	z-index: 0;
	bottom: -15px;
	left: 15px;
}

.comment-author{
	font-size: 10pt;
	padding: 2px 0px 0px 45px;
	color: #878787;
}

.comment-inline{
	display: inline-block;
}

.new-comment{
	padding: 5px 0 20px 0;
}

.comments{
	padding: 5px 0;
}

.comment-edit{
	color: #77aabb;
	float: right;
}

.comment-locked{
	color: #F3C7DD;
}

label.right-radio{
	float: right;
	padding-top: 0;
}

span.student-lastname{
    font-weight: 600;
}

.small-font{
    margin-bottom: 0;
    font-weight: normal;
}

.table > tbody > tr > th.table-student{
    font-weight: normal;
    vertical-align: middle;
}

.table-student-align{
    padding-top: 17px;
}

.nav-dropdown{
    border-bottom: 1px solid lightgray;   
}

table.borderless-table {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    vertical-align: top;
}

tr.table-headline > th {
    border-top: 1px solid lightgray;
    border-bottom: 0;
    color: lightgray;
}

tr.table-headline > th {
    font-weight: normal;
}

table > tbody > tr > .students-table-element{
    height: 67px;
    vertical-align: middle;
}

.small-circle {
	border-radius: 50%;
	width: 25px;
	height: 25px; 
    background-color: lightgray;
    display: inline-block;
    margin: 2px;
	/ width and height can be anything, as long as they're equal /
}


.negative-filled{
	background-color: #E886B7;
}

.negative-empty{
	background-color: transparent;
	border: 2px solid;
	border-color: #E886B7;
}

.positive-filled{
	background-color: #72CE1F;
}

.positive-empty{
	background-color: transparent;
	border: 2px solid;
	border-color: #72CE1F;
}

.circle-text{
	position: absolute;
	top: 21px;
	left: 0;
	right: 0;
	display: block;
	text-align: center;
}

.large-circle-text{
	position: absolute;
	top: 34px;
	left: 0;
	right: 0;
	display: block;
	text-align: center;
}

.medium-circle {
	height: 60px;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
	position: relative;
}

.medium-circle canvas {
	max-height: 100% !important;
	width: auto !important;
}

.large-circle {
	height: 89px;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}

.large-circle canvas {
	max-height: 100% !important;
	width: auto !important;
}

.circle-center-table{
    margin-left: 13px;
}

.rating-box{
    display: inline-block;
    height: 90px; 
    margin-bottom: 20px;
    vertical-align: middle;
    padding: 0;
}

.rating-box-text{
    display: inline-block;
}

.rating-box-large{
    padding: 0;   
}

.rating-box-medium{
    margin-top: 21px;
    padding: 0; 
}

.positive{
	color: #72CE1F;
}

.negative{
	color: #EE497A;
}

.positive-row{
	background-color: #E0F4C6;
	padding-left: 30px;
}

.neutral{
	color: lightgray;
}

.negative-row{
	background-color: #F3C7DD;
	width: 100%;
}

.myHandle{
	cursor: move;
}

.level-name{
	padding-left: 15px;
}

.collapse-icon:hover{
	cursor: pointer;
}

.collapse-icon-clicked{
	transform: rotate(90deg);
}

.level-list{
	list-style: none;
	padding: 8px 0px 0px 0px;
	margin-bottom: 0;
}

.level-list li {
	position: relative;
	padding-bottom: 5px;
	padding-left: 30px;
}

.level-list li:before {
	content: '\e013';
	position: absolute;
	left: 0;
	top: 2px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-weight: 100;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.table-drag-drop > tr{
	color: #4D4C4C;
}

.gewichtung-font{
    color: lightgray;   
}

.item, .placeholder {
    padding: 0px;
    width: 100%;
    height: 100%;
}

.placeholder {
    background: lightgray;
}

.ui-sortable-helper > td.drag-handle{
	display: none;
}

.small-table-head{
	width: 15px;
}

.change-level-invisible{
	display: none;
}

.change-level-visible{
	display: inline;
}

.table-headline{
	font-weight: 600;
	padding: 0 0 10px 0;
}

tr > td.table-element-padding-left{
    padding-left: 10px;
}

.learning-outcome-weight{
	padding: 5px 10px;
}

.password-field{
		display: inline-block;
		width: 50%;
}

.password-btn{
	border: none;
}

.password-btn:hover{
	background: none;
}

.head-font-normal{
	font-weight: normal;
}

.head-font-bold{
	font-weight: 600;
}

input[type='range'] {
		-webkit-appearance: none;
		border-radius: 5px;
		box-shadow: inset 0 0 1px #999;
		background-color: lightgray;
		height: 10px;
		vertical-align: middle;
}

input[type='range']::-moz-range-track {
	-moz-appearance: none;
	border-radius: 5px;
	box-shadow: inset 0 0 1px #999;
	background-color: lightgray;
	height: 10px;
}

input[type='range']:focus {
	border-color: #cccccc;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(204, 204, 204, 0.6);
}

input[type=range]::-ms-fill-lower {
    background: #A00;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #00A;
    border-radius: 10px;
}

.ui-slider {
    background: green;
}
.ui-slider-range {
    background: yellow;
}
#YourDiv {
    float: right;
    height: 100%;
    background: red;
    border-radius: 0 4px 4px 0;
}

@media (max-width: 991px) {
    
    .rating-box-large{
        text-align: center;
        margin-top: 0;
        padding-left: 0;
    }
    .rating-box-medium{
        text-align: center;
        margin-top: 0;
        padding-left: 15px;
    }
	
	.large-circle-text{
		top: 21px;
	}
    
    .large-circle {
		height: 60px;
		vertical-align: middle;
		display: inline-block;
		text-align: center;
	}

	.large-circle canvas {
		max-height: 100% !important;
		width: auto !important;
	}
    
    .rating-box{
        margin-top: 5px;
        margin-bottom: 0;
    }
    
}

@media (max-width: 767px) {
	nav h1 {
		width: 12%;
		overflow: hidden;
		height: 40px;
        padding-left: 15px;
	}
    
    .subtitle{
        width: 76%;
        text-align: center;   
        padding: 0;
    }
    
    .menu-bar{
        width: 12%;
    }
    
    .subject-password-generator{
        margin-left: 0px;
        display: block;
    }
	   /*nav h1:before {
		content: '\e079';
		margin-left: 10px;
		margin-right: 10px;
		position: relative;
		top: 1px;
		display: inline-block;
		font-family: 'Glyphicons Halflings';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}*/

    .dropdown-toggle {
        padding: 10px 0px;
    }
    
    
    .rating-box-text{
        display: block;
    }
    
    .table-student-align{
        padding-top: 0;
        padding-bottom: 20px;
        padding-left: 0;
    }
    
    .table-circle-align{
        padding-left: 0;   
    }
    
    .arrow-right-small{
        font-size: 20;   
    }
    
    table > tbody > tr > .students-table-element{
        height: 50px;
    }
    
}