
<div class="container table-headline">
	<div class="subject-title">Niveaustufen</div>
</div>

<table class="table grid">
	<thead>
		<tr class="table-headline">
			<th>
				<a class="level-interaction-link" data-ng-href="xxxxx" data-ng-click="showCreateDialog(); $event.preventDefault();">
					+ <span class="level-name">Niveaustufe hinzufügen</span>
				</a>
			</th>
			<th class="small-table-head">
			</th>
		</tr>
	</thead>
	<tbody class="table-drag-drop" ui-sortable="sortableOptions">
		<tr data-ng-repeat="level in levels | orderBy:'rank'" class="item" data-ng-class="level.isMinimum == true ? 'positive-row' : 'negative-row'">
			<td>
				<span class="levels-row">
					<span class="glyphicon glyphicon-play collapse-icon" ng-click="isOpen1 = !isOpen1" data-ng-class="{ 'collapse-icon-clicked': isOpen1 }"></span>
					<span class="small-font level-name">{{level.title}}</span>
					<a class="btn btn-glyphicon interaction-link levels-edit-icon" data-ng-class="{ 'hidden': !isOpen1 }" data-ng-href="/{{ module }}/{{ subject }}/tasks/{{ task }}/levels/{{ level._id }}/edit" data-ng-click="showEditDialog(level); $event.preventDefault();">
						<span class="glyphicon glyphicon-pencil interaction-color"></span>
					</a>
				</span>
				<div class="task-text">
					<ul class="level-list" collapse="!isOpen1">
						<li data-ng-repeat="descriptionItem in level.descriptionItems track by $index">
							{{descriptionItem}}
						</li>
					</ul>
				</div>
			</td>
			<td class="drag-handle">
				<div class="text-right">
					<span class="glyphicon glyphicon-align-justify interaction-color myHandle"  data-ng-class="{ 'hidden': isOpen1 }"></span>
				</div>
			</td>
		</tr>
	</tbody>
</table>
