<div class="row">
	<div class="col-sm-5 col-xs-12">
		<table class="borderless-table">
			<tbody>
				<tr>
					<th class="table-normal-font">
						Name:
					</th>
					<td class="table-element-padding-left">
						<span class="student-firstname">{{ member.user.firstname }}</span>
						<span class="student-lastname">{{ member.user.lastname }}</span>
					</td>
				</tr>
				<tr>
					<th class="table-normal-font">
						Matrikelnr:
					</th>
					<td class="table-element-padding-left">
						{{ member.user.studentNumber }}
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="col-xs-12 col-sm-7 rating-box">
		<div class="col-xs-4 col-sm-4 col-md-6 rating-box-large text-center">
			<div class="large-circle">
				<canvas tc-chartjs-pie chart-options="options" chart-data="absGrade<=4 ? member._absGrade : member._noneAbsGrade"></canvas>
				<span class="large-circle-text">{{absGrade}}</span>
			</div>
			<div>absolute Note</div>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-3 rating-box-medium text-center">
			<div class="medium-circle">
				<canvas tc-chartjs-pie chart-options="options" chart-data="relGrade<=4 ? member._relGrade : member._noneRelGrade"></canvas>
				<span class="circle-text">{{relGrade}}</span>
			</div>
			<div>relative Note</div>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-3 rating-box-medium text-center">
			<div class="medium-circle">
				<canvas tc-chartjs-pie chart-options="options" chart-data="member._artefacts"></canvas>
				<span class="circle-text">{{ member.evaluations.length || 0 }}</span>
			</div>
			<div>Artefakte ({{ subject.tasks.length }})</div>
		</div>
	</div>
</div>