<!-- ⟨ ⟩ ❮ ❯ -->
<nav>
	<a href="/"><h1>LevelPad</h1></a>

	<ul class="navi">
		<li class="active">Veranstaltungen</li>
	</ul>

	<ul style="float: right;">
		<li data-ng-hide="loggedIn" data-ng-class="{ active: $location.path() == '/login' }">
			<a href="/login" data-ng-click="login(); $event.preventDefault();">Login</a>
		</li>
		<li data-ng-show="loggedIn">
			<div class="dropdown">
				<a data-toggle="dropdown">
					<span data-ng-bind="user.firstname || user.username"></span>
					<small data-ng-bind="'(' + user.role + ')'"></small>
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu" role="menu">
					<li data-ng-class="{ active: $location.path() == '/account' }"><a data-ng-href="/account">Account</a></li>
					<li><a href="/logout" data-ng-click="logout(); $event.preventDefault();">Logout</a></li>
                    <li class="divider"></li>
                    <li data-ng-class="{ active: $location.path() == '/modules' }"><a href="/modules">Administration</a></li>
				</ul>
			</div>
		</li>
	</ul>
</nav>
