<ul class="nav nav-tabs">
	<li class="active"><a data-ng-href="/{{ module.slug }}/{{ subject.slug }}/tasks">Tasks</a></li>
	<li><a data-ng-href="/{{ module.slug }}/{{ subject.slug }}/teams">Teams</a></li>
	<li><a data-ng-href="/{{ module.slug }}/{{ subject.slug }}/students">Students</a></li>
	<li><a data-ng-href="/{{ module.slug }}/{{ subject.slug }}/settings">Settings</a></li>
	<li class="navbar-right">
		<div>
			<a class="active btn btn-mini btn-success" data-ng-href="/{{ module.slug }}/{{ subject.slug }}/tasks">Create new Task</a>
		</div>
	</li>
</ul>

<p></p>

<style>
	.levels {
		list-style: none;
		display: block;
		margin: 0;
		padding: 0;
		clear: both;
	}
	.levels li {
		position: relative;
		float: left;
		padding: 0 10px;
		line-height: 40px;
		background-color: white;
		border: 1px solid gray;
	}
	.levels li:not(:first-child) {
		padding-left: 25px;
	}

	.levels li:before {
		content: " ";
		position: absolute;
		top: -1px;
		left: 100%;
		width: 40px;
		height: 40px;;
		z-index: 1;
		border: 21px solid transparent;
		border-left: 16px solid gray;
	}
	.levels li:after {
		content: " ";
		position: absolute;
		left: 100%;
		width: 40px;
		height: 40px;;
		z-index: 2;
		border: 20px solid transparent;
		border-left: 15px solid white;
	}

	.levels a {
		display: inline-block;
		color: black;
		line-height: 40px;
	}
	.levels a:hover {
		text-decoration: none;
	}

	.levels .task {
		background-color: #c5eec0;
	}
	.levels .task:after {
		border-left: 15px solid #c5eec0;
	}
	.levels .task:hover {
		background-color: #98eea9;
	}
	.levels .task:hover:after {
		border-left: 15px solid #98eea9;
	}
	.levels .level {

	}
</style>

<p>
	<ol class="levels">
		<li class="task"><a href="#">Aufgabe</a></li>
		<li class="level"><a href="#">Stufe 1</a></li>
		<li class="level"><a href="#">Stufe 2</a></li>
		<li class="level"><a href="#">Stufe 3</a></li>
	</ol>
	<a href="#">Stufe hinzufügen</a>
</p>

<p></p>

<form role="form" data-ng-submit="login($event)">

	<div class="form-group">
		<label for="username" class="control-label">Title:</label>
		<input type="text" id="username"
			   name="username"
			   required="required" autofocus="autofocus"
			   class="form-control"
			   data-ng-model="task.title" />
	</div>
	<div class="form-group">
		<label for="description" class="control-label">Description:</label>
		<textarea id="description"
			   name="description"
			   required="required"
			   class="form-control"
			   data-ng-model="task.description"></textarea>
	</div>

	<h4>Levels</h4>

	<button type="button" class="btn btn-default" data-ng-click="levels.push({})">Add level</button>

	<div data-ng-repeat="level in levels">
		<div class="form-group">
			<label for="username" class="control-label">Title:</label>
			<input type="text" id="username"
				   name="username"
				   required="required" autofocus="autofocus"
				   class="form-control"
				   data-ng-model="level.title" />
		</div>
		<div class="form-group">
			<label for="description" class="control-label">Description:</label>
			<textarea id="description"
					  name="description"
					  required="required"
					  class="form-control"
					  data-ng-model="level.description"></textarea>
		</div>
	</div>

</form>
