<div data-ng-include="'partials/member-detail-header.html'"></div>

<form name="form" role="form" class="form-horizontal shadow-line" data-ng-submit="submit();">
	<nav>
		<header class="modal-header">
			<button type="button" class="close"
					data-ng-show="cancel" data-ng-click="cancel();">&times;</button>
			<div id="edit-title" class="modal-title">
				<span class="head-font-bold">Bewertung </span>
				<span class="head-font-normal">- {{task.title}}</span>
				<a type="button" class="easy-btn" data-ng-href="/{{subject.module.slug}}/{{subject.slug}}/members/{{member._id}}/" aria-label="Left Align">
				  <span class="glyphicon glyphicon-remove interaction-color close-btn" aria-hidden="true"></span>
				</a>
				<button type="button" class="btn btn-primary pull-right evaluation-save" data-ng-click="save();">
				  Speichern</button>
			</div>
		</header>
	</nav>
	
	<div class="modal-body" >
		<div class="form-group">
			<div class="col-sm-8">
				<div class="task-box"  data-ng-repeat="level in task.levels | orderBy:'rank'" class="item" data-ng-class="evaluation.level==level._id ? (level.isMinimum == true ? 'positive-task' : 'negative-task'): '' ">
					<span data-ng-class="level.isMinimum == true ? 'task-color' : 'task-bad-color'">{{level.title}}</span>
					<label class=" right-radio">
						<input type="radio" name="rating" value="{{level._id}}" data-ng-model="evaluation.level" data-ng-click="updateGrades(evaluation);">
					</label>
					<div>
						<ul class="level-list">
							<div btf-markdown="level.description"></div>
						</ul>	
					</div>
				</div>
				<div class="task-box" data-ng-class="{ 'neutral-task' : evaluation.level==false }">
					<span class="task-neutral-color">Keine Bewertung</span>
					<label class="right-radio">
						<input type="radio" name="rating" value="0" data-ng-model="evaluation.level" data-ng-click="updateGrades(evaluation);">
					</label>
					<div>
					</div>
				</div>
			</div>
			<div class="col-sm-4" data-ng-controller="CommentListController" data-ng-include="'views/comments/list.html'"></div>
		</div>
	</div>
</form>
