<div class="row">
	<div class="col-md-6">
		<h2 style="display: inline;">Modules</h2>
		<button data-ng-click="showCreateDialog();" class="btn btn-lg btn-link glyphicon glyphicon-plus" style="padding: 0 0 10px 8px;"></button>
	</div>
	<div class="col-md-offset-2 col-md-4">
		<input type="text" placeholder="Filter" data-ng-model="searchText" autocomplete="off" autofocus="autofocus" class="form-control" />
	</div>
</div>

<table class="table table-striped" ng-init="predicate='name'; reverse=false;">
	<thead>
	<tr>
		<th class="col-md-2">
			Kurzname
			<button class="btn glyphicon glyphicon-chevron-up" data-ng-click="predicate='shortName'; reverse=false;" data-ng-class="{ 'btn-link': predicate != 'shortName' || !reverse }"></button>
			<button class="btn glyphicon glyphicon-chevron-down" data-ng-click="predicate='shortName'; reverse=true;" data-ng-class="{ 'btn-link': predicate != 'shortName' || reverse }"></button>
		</th>
		<th class="col-md-8">
			Name
			<span class="glyphicon glyphicon-chevron-up"></span>
			<span class="glyphicon glyphicon-chevron-down"></span>
		</th>
		<th class="col-md-2">&nbsp;</th>
	</tr>
	</thead>
	<tbody>
	<tr data-ng-repeat="module in modules | filter:searchText">
		<td data-ng-bind="module.shortName" />
		<td data-ng-bind="module.name" />
		<td class="text-right">
			<input data-ng-click="showEditDialog(module)" type="button" value="Edit" class="btn btn-default" />
			<input data-ng-click="showDeleteDialog(module)" type="button" value="Delete" class="btn btn-default" />
		</td>
	</tr>
	</tbody>
</table>

<div id="edit" tabindex="-1" role="dialog" aria-labelledby="edit-title" aria-hidden="true" class="modal fade">
	<form name="form" role="form" class="form-horizontal" data-ng-submit="save();">
		<div class="modal-dialog">
			<div class="modal-content">
				<header class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 data-ng-bind="!module._id ? 'Create new module' : 'Edit module'" id="edit-title" class="modal-title"></h4>
				</header>
				<div class="modal-body">

					<div class="form-group" data-ng-class="{ 'has-error': form.shortName.$invalid }">
						<label for="shortName" class="col-sm-4 control-label">Short name</label>
						<div class="col-sm-8">
							<input id="shortName" name="shortName" type="text"
								   data-ng-model="module.shortName"
								   maxlength="8"
								   required="required"
								   class="form-control"/>
						</div>
					</div>

					<div class="form-group" data-ng-class="{ 'has-error': form.name.$invalid }">
						<label for="name" class="col-sm-4 control-label">Name</label>
						<div class="col-sm-8">
							<input id="name" name="name" type="text"
								   data-ng-model="module.name"
								   required="required"
								   class="form-control"/>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button data-ng-click="hideDialog();" type="button" class="btn btn-default pull-left">Cancel</button>
					<button data-ng-disabled="form.$invalid" type="submit" class="btn btn-primary pull-right">Save</button>
				</div>
			</div>
		</div>
	</form>
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete-title" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<header class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 id="delete-title" class="delete-title">Delete module?</h4>
			</header>
			<div class="modal-body">
				<p>
					(<span data-ng-bind="module.shortName"></span>)
					<span data-ng-bind="module.name"></span>
				</p>
			</div>
			<div class="modal-footer">
				<button data-ng-click="hideDialog();" type="button" class="btn btn-default pull-left">Cancel</button>
				<button data-ng-click="delete();" type="button" class="btn btn-danger pull-right">Delete</button>
			</div>
		</div>
	</div>
</div>
